<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('nav.ejs') %>
    <h4>가입</h4>
    <form action="/register" method="POST">
        <input type="text" name="username" placeholder="ID">
        <input type="password" name="password" placeholder="PASSWORD">
        <input type="submit" value="로그인">
    </form>
</body>
</html>